body{
    display: flex;
}
#cashBox{
    background: black;
    color: forestgreen;
    display: flex;
}
#cash{
    font-size: 24px;
    margin: 10px;
}
#restaraunt{
    background: src("restaraunt.jpg");
}